<div class="container my-5">
  <h2>サービス詳細</h2>
  <div class="row">
		<div class="col-md-3">
      <%= image_tag @service.image, size: "130x100" %>
    </div>
    <div class="col-md-9">
      <table class="table-box">
        <tr>
          <th>サービス名</th>
          <td><%= @service.name %></td>
        </tr>
        <tr>
          <th>説明</th>
          <td><%= simple_format(@service.explanation) %></td>
        </tr>
        <tr>
          <th>税込価格<br></th>
          <td><%= @service.price_without_tax.to_s(:delimited) %><span>円</span></td>
        </tr>

      </table>
    </div>
  </div>
</div>