<p id="notice"><%= notice %></p>
<h1>フトン洗いとは？？？</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h6>メイン画面</h6>
    </div>
    <div class="col-lg-4" style="background-color: aqua;">
    　<h6>Twitter投稿最新情報</h6>


    </div>
  </div>