<p id="notice"><%= notice %></p>
<h3>布団洗い最新情報</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h6>メイン画面</h6>
    </div>
    <div class="col-lg-4" style="background-color: aqua;">
    　<h6>Twitter投稿最新情報</h6>
        <div class="row">
        </div>
        <div class="row">
        </div>
    </div>
  </div>