<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<%= video_tag "/assets/videos/futonarai.mp4", controls: true, autoplay: true, loop: true, muted: true, width: "500", height: "350" %>