<%= video_tag asset_path('futonaraikai.mp4'), controls: true, autoplay: true, loop: true, muted: false, width: "1000", height: "800" %>

<h4>機器稼働状況</h4>
<a href="https://futonmaki.jp/export/kusatsu.txt">機器稼働状況を知りたい場合はクリック</a>

<%= link_to("機器稼働状況を知りたい場合はクリック", "https://futonmaki.jp/export/kusatsu.txt") %>

